.main-nav {
    .meniu {
        justify-content: center;

        > li {
            width: 5rem;
            padding: 0 0.5rem;
            font-size: 0.6rem; 

            .text-icon {
                display: none; 
            }

            .imag-icon {
                display: flex;
                align-items: center;
                height: 3rem;
            }
            
        }
    }
}
.imagine-logo {
        width: 10em; /* Reducem logo-ul de la ~300px la 150px */
        height: auto;
    }
.iconita-bord {
            font-size: 1.5rem!important;
        }