// header1500.scss

.main-nav {
    .meniu {
        justify-content: center;

        > li {
            width: fit-content; 
            padding: 0 0.5rem;
            font-size: 0.6rem; 

            .text-icon {
                display: none; 
            }

            .imag-icon {
                display: flex;
                align-items: center;
                height: 3rem;

                span, i {
                    font-size: 1.4rem; 
                    color: var(--accent-color);
                }
            }
        }
    }
}