<footer class="page-footer">
        <address>
            <strong>MotoRevit Showroom</strong><br />
            Tel: <a href="tel:+40722000000">0722 000 000</a><br>
            Adresa: <a
                href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4355393,26.0970118,776m/data=!3m2!1e3!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?authuser=0&entry=ttu&g_ep=EgoyMDI2MDMwNS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank">Str. Academiei 14,<br>București (Sediul
                FMI)</a><br />
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572212.5174483424!2d22.38016005368731!3d45.91593003437419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e1!3m2!1sen!2sro!4v1772829216785!5m2!1sen!2sro"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br>
            Email: <a href="mailto:office@motorevit.ro">office@motorevit.ro</a><br />
            WhatsApp: <a href="https://wa.me/40722000000">Chat rapid</a>
        </address>
        <p><small>Copyright &copy; 2026 MotoRevit. Creat la: <time datetime="2026-03-01">1 martie 2026</time></small>
        </p>
        <a href="#" id="link-top" title="Inapoi sus">
            <div id="triunghi">&#5123;</div>
        </a>
    </footer>