<header id="top">
        <div class="main-title">
            <div class="row">
                <a href="/">
                    <img src="/resurse/imagini/logo.png" alt="Logo MotoRevit" fetchpriority="high"
                        class="imagine-logo">
                </a>
                <i class="fa-solid fa-gauge-high iconita-bord"></i>
            </div>
        </div>
        <input type="checkbox" id="ch-menu" /> <label id="hamburger" for="ch-menu">
            <div class="hamburger-container">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </label>
        <h1 id="nume">MotoRevit</h1>
        <nav class="main-nav">
            <ul class="meniu">
                <li>
                    <a href="/">
                        <div class="text-icon">ACASĂ</div>
                        <div class="imag-icon" id="acasa-mediu">
                            <span class="fa-solid fa-house"></span>
                        </div>
                    </a>
                    <ul class="submenu">
                        <li><a href="/index#prezentare">Prezentare</a></li>
                        <li><a href="/index#evenimente">Evenimente</a></li>
                        <li><a href="/index#tarife">Tarife Service</a></li>
                        <li><a href="/index#zona-creativa">Media</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/catalog">
                        <div class="text-icon">TOATE PRODUSELE</div>
                        <div class="imag-icon">
                            <span class="fa-solid fa-motorcycle fa-bounce"></span>
                        </div>
                    </a>
                    <ul class="submenu">
                        <li><a href="/motociclete">Motociclete</a>
                            <ul class="submenu-inner">
                                <li><a href="#">Noi</a></li>
                                <li><a href="#">Second-Hand (SH)</a></li>
                            </ul>
                        </li>
                        <li><a href="/scutere">Scutere</a>
                            <ul class="submenu-inner">
                                <li><a href="#">Noi</a></li>
                                <li><a href="#">Second-Hand (SH)</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/achizitii">
                        <div class="text-icon">ACHIZIȚII</div>
                        <div class="imag-icon">
                            <span class="fa-solid fa-hand-holding-dollar"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/service">
                        <div class="text-icon">SERVICE</div>
                        <div class="imag-icon">
                            <span class="fa-solid fa-wrench"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <div class="text-icon">CONTACT</div>
                        <div class="imag-icon">
                            <span class="fa-solid fa-headset"></span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>